#header {
    background-color: #ff7f50;
    min-height: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#header h1 {
    color: white;
}

.row {
    padding: 1px 0px;
}

.button-group {
    float: right;
}

.task:not(.completed-task) svg:hover path:nth-child(2){
    display: block;
}

.completed-task span:first-of-type{
    color: gray;
    text-decoration: line-through;
}

.task svg {
    fill:green;
}

#btn-add-list {
    width: 100%;
}